<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
</head>
<body>


<form action="/students/add" method="post">

    <label for="firstName"> Имя </label> <br>
    <input type="text" name="firstName"> <br>
    <label for="lastName"> Фамилия </label> <br>
    <input type="text" name="lastName"> <br>
    <label for="birthDate"> Дата Рождения </label> <br>
    <input type="text" name="birthDate"> <br>
    <label for="groupId"> Группа </label> <br>
    <select name="group" id="groupId"> <br>

        {{#groups}}

            <option value="{{id}}"> {{title}} </option>

        {{/groups}}

    </select> <br>
    <input type="submit" value="Добавить">

</form>


</body>
</html>