<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All students</title>
</head>

<body>

<form action="/students/test1" method="POST">

    <input type="text" name="firstName">
    <input type="text" name="lastName">
    <input type="text" name="birthDate">
    <input type="submit" value="Send">

</form>


</body>



</html>